body {
  background:  #282c34;
}
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.current-number {
  font-size:120px;
}
.roll-button{
  border: 1px solid white;
  font-size:30px; 
  color:white;
  background: transparent;
  border-radius: 15px;
  padding: 16px;
}
.roll-button:active {
  color: black;
}
.roll-button:disabled {
  color:grey;
}

.dhayakattai-box {
  border: 1px solid white;
  width: 75%;
  height: 30px;
  margin: 12px;
  padding: 10px;
  background: white;
  color: black;
  white-space: pre;
  border-radius:10px;
  font-size: 28px;
}
.box-one {
  margin-bottom: 24px;
}

.dhayam-total{
  font-size:80px;
  margin-bottom: 30px;
}
.dhayams-container {
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
  margin-bottom:20px;
}
.yt-link {
  text-decoration: none;
  color:#4183C4;
}
.forkme {
    transform: rotate(45deg);
    background-color: #FFF;
    overflow: hidden;
    position: fixed;
    z-index: 300;
    width: 207px;
    right: -64px;
    top: 32px;
    border-style: solid;
}
.forkme a {
    color: #404040;
    display: block;
    font: 13px Helvetica Neue,Arial,sans-serif;
    margin: 0.05em 0px 0.075em;
    padding: 0.6em;
    text-align: center;
    text-decoration: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
